 
  <style>
    .fade-in {
      animation: fadeInAnimation ease-in 1s;
      animation-fill-mode: forwards;
    }

    @keyframes fadeInAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  </style>

 <div class="container">
    <h1 class="mt-5 text-center">Mi Programa de Enlaces Favoritos</h1>
    <div class="jumbotron mt-4">
      <p class="lead">Bienvenido a mi programa para guardar enlaces favoritos. Este programa te permite guardar y organizar tus enlaces web preferidos para acceder a ellos fácilmente en el futuro.</p>
    </div>
    
    <h2 class="mt-4">Funcionalidades</h2>
    <ul class="list-group mt-2">
      <li class="list-group-item">Guardar enlaces a sitios web que te gusten.</li>
      <li class="list-group-item">Organizar los enlaces en categorías personalizadas.</li>
      <li class="list-group-item">Agregar notas o etiquetas a los enlaces para facilitar la búsqueda.</li>
      <li class="list-group-item">Acceder a tus enlaces favoritos desde cualquier dispositivo.</li>
    </ul>
    
    <center><h2 class="mt-4">No olvide recomendarselo a tus amigos</h2></center><br>
    <div class="row mt-2">
      <div class="col-md-4">
        <img src="../img/imagen1.png" alt="Captura de pantalla 1" class="img-fluid rounded shadow fade-in">
      </div>
      <div class="col-md-4">
        <img src="../img/imagen2.png" alt="Captura de pantalla 2" class="img-fluid rounded shadow fade-in">
      </div>
      <div class="col-md-4">
        <img src="../img/imagen3.png" alt="Captura de pantalla 3" class="img-fluid rounded shadow fade-in">
      </div>
    </div>
    
    <h2 class="mt-4">Prueba ahora</h2>
    <p class="mt-2">Si estás interesado en probar mi programa de guardar enlaces favoritos, puedes descargarlo desde el siguiente enlace:</p>
    <a href="ruta/descarga" class="btn btn-primary mt-2">Descargar programa</a>
  </div>
  