<div class="container p-12">
    <div class="row">
        <div id="error">
            <div class="error-page container">
                <div class="col-md-8 col-12 offset-md-2">
                    <center><img src="/images/samples/error-500.png" alt="Not Found" style="height: 300px;"></center>
                    <div class="text-center">
                        <h1 class="error-title">System Error</h1>
                        <p class="fs-5 text-gray-600">Ha ocurrido un error inesperado. Favor intentar mas tarde o contacta con el administrador del sistema.</p>
                        <a href="/dashboard" class="btn btn-lg btn-outline-primary mt-3">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>