<div class="container p-12">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido(a) a nuestro proyecto web {{user.fullname}}</h3>
                    <h6>Es normal que en medio de tanta teoría se nos escapen informaciones... <br>No te preocupes si a veces se te escapan algunas informaciones, <br> ¡estamos aquí para recordártelo!</h6>
                    <a href="/dashboard" class="btn btn-success">Empezar</a>
                </div>
            </div>
        </div>
    </div>
</div>