.date-input-container {
  position: relative;
  width: 200px;
}

.date-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

.date-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 1;
}

.circle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #8cacec;
  z-index: 1;
  transition: all 0.3s ease;
}

.date-input:focus+.date-label,
.date-input:not(:placeholder-shown)+.date-label {
  font-size: 12px;
  top: 0;
  transform: translateY(0);
  background-color: #fff;
  padding: 0 4px;
}

.date-input:focus+.circle,
.date-input:not(:placeholder-shown)+.circle {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.contenedor {
  margin: 2rem auto;
  height: 500px;
  width: 90%;
  max-width: 400px;
  background: #ffffff;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 1rem;
}


.contenedor::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
  width: 10px;
}

.contenedor::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.contenedor::-webkit-scrollbar:horizontal {
  height: 0%;
}

.contenedor::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Estilos para el efecto de "hover" en la clase "note-title" */
.note-title {
  /* Estilo original del título */
  font-size: 16px;
  /* Otros estilos del título */

  /* Transición para el efecto de acercamiento */
  transition: transform 0.3s ease;
}

.note-title:hover {
  /* Estilos al hacer "hover" */
  transform: scale(1.2);
  /* Aumentar el tamaño en un 20% */
  background-color: rgba(0, 0, 255, 0.144);
  /* Otros estilos al hacer "hover" */
}

.loader-container {
  background-color: white;
  /* Fondo blanco */
  justify-content: center;
}

.dashboard-background {
  background-image: url("../images/bg/dashboard-bg.jpg");
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;

}

.dashboard-h {

  font-size: 16px;
  /* Transición para el efecto de acercamiento */
  transition: transform 0.3s ease;
}

.dashboard-h:hover {
  transform: scale(1.2);
}

.dashboard-lastn {

  max-height: 250px;
  min-height: 200px;
  min-width: 80px;
  
}

.card-content2 {
  font-size: 14px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de líneas que deseas mostrar */
  -webkit-box-orient: vertical;
}

.deleted_note { 
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el contenido excedente */
  text-overflow: ellipsis; /* Agrega puntos suspensivos */
  max-width: 150px; /* Cambia este valor según tu diseño */
}



@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.loader {
 
  width: 500px;
  height: 500px;
  animation: fade-in-left 2s ease-in-out;
}


.slide-up {
  animation: slide-up 1s ease-in-out;
}


@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.border-right {
  border-right: 1px solid #ccc;
}

/* Clock of react */
.clock-container {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
}

.move-down {
  animation: move-down 1s ease;
}

/* animation to dashboard  */
/* Define the animation "move-down" */
@keyframes move-down {
  0% { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}

.fadeIn {

  opacity: 0; 
  animation: fadeIn 1s ease forwards;

}

@keyframes fadeIn {

  0% { opacity: 0; } 
  100% { opacity: 1; } 

}

.transparent {

  background-color: rgba(255, 255, 255, 0.5);

}

.custom-text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* notebook.css */


/* Note.css */

/* Estilos de la tabla */
.notebook-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.note-description {
  position: relative;
  padding-bottom: 8px; /* Ajustar el espaciado entre las líneas */

}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #00b0f0; /* Color azul cielo */
  z-index: 1;
}

/* Estilos de cuaderno real en el borde exterior de la tabla */

.notebook-table {
 /*  width: 100%;
  margin: auto;
  margin-top: 10em;
  max-width: 500px; */
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);
}

.notebook-cover {
  position: relative;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notebook-back {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 90%;
  height: 90%;
  border: 1px solid #000;
  border-radius: 5px;
  z-index: -1;
  background-color: #f0f0f0;
}

.text-bold-500 {
  font-weight: 500;
}
.header-notedpad {
  
  width: 100%;
  height: 50px;

}

.note-content-desc {
  font-size: 20px;
  text-align: justify;
  line-height: 1.4;
}

.td-table {

  min-height: 10px;

}
